<div id="identification-room-container">
  <h1>{{ roomTitle }}</h1>

  <div id="lineup">
    @for (suspect of lineup; track suspect; let i = $index) {
      <app-encode-suspect
        [suspectIndex]="i + 1"
        [suspect]="suspect"
        [selectedSuspectSource]="selectedSuspectSource">
      </app-encode-suspect>
    }
  </div>

  <button mat-raised-button
    class="save-form-btn"
    [disabled]="(selectedSuspect$ | async) === null"
    aria-label="elegir"
    (click)="identifySuspect()">
    Elegir
  </button>

</div>

