/.angular
/.vscode
/.github
ssl
src/environments
src/assets/videos/videoEncode.mp4
/dist
/tmp
/out-tsc
/node_modules
chrome-profiler-events*.json
speed-measure-plugin*.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
yarn-error.log
testem.log
/typings
.DS_Store
Thumbs.db
package-lock.json
/.docker
docker*
.editorconfig
/.firebase
*debug.log
.runtimeconfig.json
