<section class="container">
  <app-header-encode></app-header-encode>
  <section class="main-app-section">

    <div class="selectionComponent">

      @if (completed == true) {
        <h1 class="title">¡Ya seleccionaste las imagenes!</h1>
        <button mat-raised-button
          class="save-form-btn"
          color="primary"
          aria-label="continuar"
          (click)="continue()">
          Continuar
        </button>
        <p>Seleccionadas <b>{{currentStep}}/{{steps}}</b></p>
      } @else {
        <h1 class="title">Seleccioná la que corresponde con lo que viste en el video.</h1>
        @if (imagesPairsLoaded == true) {
          <mat-card>
            <mat-card-content class="card-content">
              <mat-stepper linear #stepper>
                @for (random of random_pairs; track random; let index = $index) {
                  <mat-step [optional]="true">
                    <form>
                      @if (random == 0) {
                        <mat-button-toggle-group>
                          <mat-button-toggle (click)="onSelection(imagesPairs[index*2])">
                            <img class="selection-image" src={{imagesPairs[index*2].imageURL}}/>
                          </mat-button-toggle>
                          <mat-button-toggle (click)="onSelection(imagesPairs[(index*2)+1])">
                            <img class="selection-image" src={{imagesPairs[(index*2)+1].imageURL}}/>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      } @else {
                        <mat-button-toggle-group>
                          <mat-button-toggle (click)="onSelection(imagesPairs[(index*2)+1])">
                            <img class="selection-image" src={{imagesPairs[(index*2)+1].imageURL}}/>
                          </mat-button-toggle>
                          <mat-button-toggle (click)="onSelection(imagesPairs[index*2])">
                            <img class="selection-image" src={{imagesPairs[index*2].imageURL}}/>
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                      }
                      <div class="stepper-buttons">
                        <button mat-raised-button
                          matStepperNext
                          class="save-form-btn"
                          [disabled]="!selectionMade"
                          (click)="onConfirm()" >
                          Siguiente
                        </button>
                        <p>Seleccionadas <b>{{currentStep}}/{{steps}}</b></p>
                      </div>
                    </form>
                  </mat-step>
                }
              </mat-stepper>
            </mat-card-content>
          </mat-card>
        } @else {
          <mat-spinner [diameter]="64"></mat-spinner>
          <p>Cargando...</p>
        }
        <!-- loading -->
        <!-- selection task -->
      }



    </div>

  </section>

</section>
